@import '../../../../../styles/variables';

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;

  z-index: 9999;

  background-color: rgba(137, 137, 137, .24);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-content: center;


  .form-card {

    position: absolute;
    top: 50%;
    width: 500px;
    height: 680px;
    padding: 68px 36px;
    border-radius: 0;

    background-color: white;

    transform: translateY(-50%);

  }
}

mat-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.login-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;


  form {
    display: flex;
    flex-direction: column;
    gap: $form-element-gap;
  }

  button[type="submit"] {

    background: $secondary-color;
    border-radius: 0;
    left: 25%;
    width: 50%;
  }
}

.register-row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;


  button {
    color: $secondary-color;
  }
}

mat-form-field {
  &.form-input {
    ::ng-deep .mat-form-field-outline {
      color: $secondary-color !important;
    }
  }
}

.input-element {
  padding: 16px;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: #201a1b;

  &:focus {
  outline: none !important;
  border: 2px solid $secondary-color;

}
}

