<div class="content-container">
  <h1>Your liked Posts</h1>

  <div *ngIf="likedPosts$ | async as likedPosts" class="spot-post-list-container">
    <mat-card
      *ngFor="let post of likedPosts$ | async"
      appearance="outlined"
      class="post-card">
      <mat-card-content>
        <div class="image-container">
          <img [src]="post.imageUrl" alt="Post Image" mat-card-image>
        </div>
        <div class="card-content">
          <h1 class="card-headline">{{ post.title }}</h1>
          <span class="author">von {{ post.author_id }}</span>
          <p class="card-description">{{ post.content }}</p>
          <div>
            <button (click)="unlikePost(post.id)" extended mat-fab>
              <mat-icon>favorite</mat-icon>
              Unlike
            </button>
            <button [routerLink]="['/spot', post.spot_id]" class="close-button" mat-button>
              Go to Spot
            </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

  </div>


</div>
