<div class="details-container" *ngIf="isVisible">
  <mat-card class="spot-card">
    <mat-card-header>
      <mat-card-title>{{spot?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="description-container">
        <table>
          <tr>
            <td>Latitude:</td>
            <td class="right">{{spot?.latitude}}°</td>
          </tr>
          <tr>
            <td>Longitude:</td>
            <td class="right">{{spot?.latitude}}°</td>
          </tr>
          <tr>
            <td>City:</td>
            <td class="right">{{spot?.latitude}}°</td>
          </tr>
          <tr>
            <td>Posts:</td>
            <td class="right">{{spot?.latitude}}°</td>
          </tr>
        </table>
        <a [routerLink]="['/post', spot.id]"  >See more</a>
      </div>
      <div class="post-list-container">
        <button mat-flat-button class="add-spot-button"><mat-icon>add</mat-icon></button>
      </div>

    </mat-card-content>
  </mat-card>
</div>
