<div class="details-container">
  <mat-card class="spot-card">
    <mat-card-header>
      <mat-card-title class="eb-garamond-bold">{{ spot.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="description-container">
        <table>
          <tr>
            <td>Latitude:</td>
            <td class="right">{{ spot.latitude }}°</td>
          </tr>
          <tr>
            <td>Longitude:</td>
            <td class="right">{{ spot.longitude }}°</td>
          </tr>
          <tr>
            <td>Posts:</td>
            <ng-container *ngIf="posts$ | async as posts">
              <td class="right">{{ posts.length }}</td>
            </ng-container>

          </tr>
        </table>
        <button mat-flat-button>
          <a [routerLink]="['/spot', spot.id]">See more</a>
        </button>

      </div>

      <ng-container *ngIf="showPosts(); else authHint">
        <div class="post-list-container">

          <ng-container *ngIf="posts$ | async as posts">
            <mat-card
              *ngFor="let post of posts | slice:0:2 "
              [routerLink]="['/spot', spot.id]"
              appearance="outlined"
              class="post-card">
              <mat-card-content>
                <div class="image-container">
                  <img [src]="post.imageUrl" alt="Post Image" mat-card-image>
                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>
          <ng-container>
            <button (click)="openCreatePostDialog({id: spot.id, name: spot.name})" mat-button>
              <span class="eb-garamond-bold">Add New Post</span>
            </button>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #authHint>
        <div class="AuthErrorHint">
          <h1 class="eb-garamond-normal">Please sign in to see post from others!</h1>
        </div>

      </ng-template>

    </mat-card-content>
  </mat-card>
</div>
