@import '../../../../../styles/variables';
@import '../../../../../styles/main';

.content-container {
  padding-left: calc($padding-component + 30px);

}

.actions-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;

  button {
    width: 50%;

    background-color: $secondary-color-2;
    color: $primary-color-2 !important;
    border-radius: 0;
  }
}


.spot-post-list-container {
  padding: $padding-component 0 0 0;
  display: grid;
  grid-template-columns: repeat( 4, minmax(22%, 1fr) );


  //gap: 4%;

  .post-card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    border-radius: 0;
    // otherwise the scaling and hover effect is buggy
    width: 300px;
    height: 500px;
    background: white;


    mat-card-content {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      padding: 0 !important;

    }

    .image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      flex-shrink: 0;
      transition: width 0.3s ease;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;
      gap: 30px;
      overflow: hidden;
      align-items: center;
      width: 0;
      padding: 16px;
      background: white;
      opacity: 0;
      visibility: hidden;
      transition: flex 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

      .header {
        text-align: center;
      }

      .card-headline {
        font-weight: bold;
        font-size: 25px;
        color: $secondary-color-2;
        margin-bottom: 8px;
      }

      .author {
        font-size: 14px;
        color: $secondary-color-4;
        margin-bottom: 8px;
      }

      .card-description {
        font-size: 12px;
        color: $secondary-color-2;
      }
    }

    &:hover {

      z-index: 2;


      .image-container {
        width: 0;
      }


      .card-content {
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.AuthErrorHint {
  width: 100%;

  display: flex;

  align-items: center;


  h1 {
    padding: 20px 10px 20px 10px;
    color: $primary-color-2;
    text-align: center;
    background-color: $secondary-color;
  }
}
