<div class="content-container">
  <h1 class="inter-bold-header">/Your Posts</h1>
  <div class="spot-post-list-container">
    <ng-container *ngIf="usersPosts$ | async as usersPosts; else loading">
      <ng-container *ngIf="usersPosts.length > 0; else noUsersPosts">
        <mat-card
          *ngFor="let post of usersPosts$ | async"
          appearance="outlined"
          class="post-card">
          <mat-card-content>
            <div class="image-container">
              <img [src]="post.imageUrl" alt="Post Image" mat-card-image>
            </div>
            <div class="card-content">
              <div class="header">
                <h1 class="card-headline inter-bold">{{ post.title }}</h1>
                <p class="author inter-small">von {{ post.author_id }}</p>
              </div>
              <p class="card-description inter-small">{{ post.content }}</p>
              <div class="actions-container">
                <button (click)="onDelete(post.id)" mat-button>
                  <mat-icon>delete</mat-icon>
                  Delete
                </button>
                <button [routerLink]="['/spot', post.spot_id]" mat-button>
                  Go to Spot
                </button>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>


    </ng-container>
  </div>


  <ng-template #loading>
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <ng-template #noUsersPosts>
    <div class="no-posts-container">
      <h1 class="inter-normal AuthErrorHint">You have not posted anything yet...</h1>
    </div>
  </ng-template>

</div>
