<div class="page-container">

  <mat-card>
    <mat-card-header>
      <h1 class="eb-garamond-bold">
        User Profile
      </h1>
    </mat-card-header>
    <mat-card-content>
      <p class="eb-garamond-bold">Your username: {{ this.accountDetails?.username }}</p>
      <p class="eb-garamond-bold">Your first name: {{ this.accountDetails?.firstname }}</p>
      <p class="eb-garamond-bold">Your last name: {{ this.accountDetails?.lastname }}</p>
      <p class="eb-garamond-bold">Your role: {{ this.accountDetails?.role }}</p>
    </mat-card-content>
  </mat-card>

</div>
