<nav class="navbar">
  <img alt="application logo" height="41" ngSrc="assets/icons/application-logo-icon.svg" width="150">
  <button [matMenuTriggerFor]="menu" class="small-icon-button" mat-icon-button>
    <mat-icon class="icon" fontIcon="person"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/profile', 1]" mat-menu-item>Profile</button>
    <button mat-menu-item>Posts</button>
    <button class="logout-button" mat-menu-item>Logout</button>
  </mat-menu>
</nav>
