@import '../../../styles/variables';

nav {
  width: 100%;
  height: $navbar-height;
  padding: 20px $padding-component 0 $padding-component ;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 30px;
  }

  div {
    display: flex;
    align-items: center;
    gap: $padding-component;

    color: $secondary-color-2;
  }


  .small-icon-button {

    .material-icons {
      font-size: 30px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  button {
    border-radius: 0;
  }
}
