@import '../../../styles/variables';

.darkNavBar {
  background-color: $secondary-color-3;

  .icon-container mat-icon {
    fill: $primary-color-2;
    cursor: pointer;

  }

  .ripple {
    color: $primary-color-2;
  }

  .small-icon-button {

    .material-icons {
      color: $primary-color-2;
      font-size: 30px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


}


nav {
  width: 100%;
  height: $navbar-height;
  padding: 10px $padding-component 10px $padding-component;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon-container mat-icon {
    fill: black;
    height: 41px;
    width: 150px;
    cursor: pointer;
  }


  img {
    height: 30px;
    cursor: pointer;
  }

  div {
    display: flex;
    align-items: center;
    gap: $padding-component;

    color: $secondary-color-2;
  }


  .small-icon-button {

    .material-icons {
      color: $secondary-color-2;
      font-size: 30px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .name {
    cursor: pointer;
    text-decoration: underline;

    .icon {
      height: 50px;
      width: 50px;
    }
  }

  button[type="button"] {
    border-radius: 0;

    background-color: $secondary-color;
  }

  mat-menu {
    z-index: 9999;
    border-radius: 0;


  }

  .mat-mdc-menu-panel.mat-menu {
    border-radius: 0 !important;
    background-color: $secondary-color;
  }
}

::ng-deep .mat-menu {
  border-radius: 0 !important;
  background-color: $primary-color-2 !important;

}
