<nav [ngClass]="navBarClass">
  <div [routerLink]="['/home']" class="icon-container">
    <mat-icon svgIcon="logo"></mat-icon>
  </div>


  <ng-container *ngIf="showProfile()">
    <div>
      <h1 class="inter-bold ripple"> Welcome <span (click)="openAccountDetailsDialog()" class="name">{{ username }}! <mat-icon
        svgIcon="circleArrow"></mat-icon></span></h1>
      <button (click)="logout()" class="small-icon-button" mat-flat-button type="button">
        Logout
      </button>
    </div>

  </ng-container>
  <ng-container *ngIf="!showProfile()">
    <button (click)="toggleAuthForms()" mat-flat-button type="button">
      Sign in / Sign up
    </button>
  </ng-container>
  <mat-menu #menu="matMenu" class="mat-menu">
    <button [routerLink]="['/profile', username]" mat-menu-item>Your Profile</button>
    <button [routerLink]="['/likedPosts']" mat-menu-item>Liked Posts</button>
    <button [routerLink]="['/likedSpots']" disabled mat-menu-item>Liked Spots</button>
    <button (click)="logout()" class="logout-button" mat-menu-item>Logout</button>
  </mat-menu>
</nav>
