@import '../../../styles/variables';

nav {
  width: 100%;
  height: $navbar-height;
  padding: $padding-component $padding-component 0 $padding-component ;
  display: flex;
  justify-content: space-between;

  img {
    height: 30px;
  }


  .small-icon-button {
    width: 40px !important;
    height: 40px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCFF01;

    .material-icons {
      font-size: 24px !important;
    }
  }
}
