<div *ngIf="spot" class="content-container">
  <div class="spot-header-container">
    <div class="col back">
      <img [routerLink]="['/']" alt="back icon" height="25" ngSrc="assets/icons/arrow-back-icon.svg" width="25">
      <h1 class="eb-garamond-bold">{{ spot.name }}</h1>
    </div>
    <div class=" information">

      <table>
        <tr>
          <td>Latitude:</td>
          <td class="right">{{ spot.latitude }}°</td>
        </tr>
        <tr>
          <td>Longitude:</td>
          <td class="right">{{ spot.longitude }}°</td>
        </tr>
        <tr>
          <td>Posts:</td>
          <td class="right">{{ posts?.length }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="spot-post-list-container">
    <mat-card *ngFor="let post of posts" appearance="outlined" class="post-card">
      <mat-card-content>
        <div class="image-container">
          <img [src]="post.imageUrl" mat-card-image>
        </div>
        <div class="card-content">
          <div>
            <span class="card-headline eb-garamond-bold">
                {{ post.title }}
              </span>
            <span class="author eb-garamond-normal">
                von {{ post.author_id }}
              </span>
          </div>

          <span class="card-description">
                {{ post.content }}
              </span>
          <ng-container *ngIf="postIdsUserLiked$ | async as likedPosts">
            <ng-container *ngIf="likedPosts.includes(post.id); else unlikeButton">
              <button (click)="unlikePost(post.id)" extended mat-fab>
                <mat-icon>favorite</mat-icon>
                Unlike
              </button>
            </ng-container>
            <ng-template #unlikeButton>
              <button (click)="likePost(post.id)" extended mat-fab>
                <mat-icon>favorite</mat-icon>
                Like
              </button>
            </ng-template>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
