<div *ngIf="spot" class="content-container">
  <div class="spot-header-container">
    <div class="col back">
      <img [routerLink]="['/']" alt="back icon" height="25" ngSrc="assets/icons/arrow-back-icon.svg" width="25">
      <h1 class="eb-garamond-bold">{{ spot.name }}</h1>
    </div>
    <div class=" information">

      <table>
        <tr>
          <td>Latitude:</td>
          <td class="right">{{ spot.latitude }}°</td>
        </tr>
        <tr>
          <td>Longitude:</td>
          <td class="right">{{ spot.longitude }}°</td>
        </tr>
        <tr>
          <td>Posts:</td>
          <td class="right">{{ posts?.length }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="spot-post-list-container">
    <mat-card *ngFor="let post of posts" appearance="outlined" class="post-card">
      <mat-card-content>
        <div class="image-container">
          <img [src]="post.imageUrl" mat-card-image>
        </div>
        <div class="card-content">
              <span class="card-headline eb-garamond-bold">
                {{ post.title }}
              </span>
          <span class="author eb-garamond-normal">
                von {{ post.author_id }}
              </span>
          <span class="card-description">
                {{ post.content }}
              </span>
          @if (!isPostLiked(post.id)) {

            <button extended mat-fab (click)="likePost(post.id)">
              <mat-icon>favorite</mat-icon>
              Like
            </button>
          } @else {
            <button extended mat-fab (click)="unlikePost(post.id)">
              <mat-icon>favorite</mat-icon>
              Unlike
            </button>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
