
@import '@angular/material/prebuilt-themes/rose-red.css';

@import "materialUI";
@import "variables";
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');



html, body { height: 100%; }

*, *:before, *:after {
  box-sizing: border-box;
}

body { padding: 0; margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }


mat-form-field {
  &.form-input {
    ::ng-deep .mat-form-field-outline {
      color: $primary-color !important;
    }
  }
}

.input-element {
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: #201a1b;

  &:focus {
    outline: none !important;
    border: 2px solid $primary-color;

  }
}

.textarea-element {
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: #201a1b;

  &:focus {
    outline: none !important;
    border: 2px solid $primary-color;

  }
}

input[type="file"]::file-selector-button {
  border: 2px solid black;
  font-family: Inter, sans-serif;
  padding: 0.2em 0.4em;
  width: 30%;
  height: 50px;
  background-color: black;
  color: white;
  transition: 1s;
}

input[type="file"]::-ms-browse:hover {
  background-color: $primary-color;
  border: 2px solid $primary-color;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: $primary-color;
  border: 2px solid $primary-color;
}

input[type="file"]::file-selector-button:hover {
  background-color: $primary-color;
  border: 2px solid $primary-color;
}


.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px;
  background-color: white;
}
