$navbar-height: 90px;

$primary-color: #FF7125;
$background-color: #F4F4F4;
$background-mid-color: #ffff;

$padding-component: 34px;

$form-element-gap: 20px;

$primary-color-V2: #EFE9E1;
$primary-color-2: #ffffff;

$secondary-color: #322D29;
$secondary-color-2: #72383D;
$secondary-color-3: #AC9C8D;
$secondary-color-4: #D1C7BD;


