
$navbar-height: 90px;

$primary-color: #FF7125;
$background-color: #F4F4F4;
$background-mid-color: #ffff;

$padding-component: 34px;

$form-element-gap: 20px;

$primary-color-V2: #000000;
$primary-color-2: #ffffff;

$secondary-color: #CCFF01;
$secondary-color-2: #2F2F3C;
$secondary-color-3: #7C7C7C;
$secondary-color-4: #E6E6E6;


