$navbar-height: 90px;


$padding-component: 34px;

$form-element-gap: 20px;

$primary-color-2: #f3f3f3;

$secondary-color: #fc3f49;
$secondary-color-2: #000000;
$secondary-color-3: #191a1c;
$secondary-color-4: #D1C7BD;


$button-red-hover: #ec545d;



