@import '../../../../../styles/variables';

.map-container {
  position: relative;

}

div {
  width: 100%;
  height: calc(100vh - $navbar-height);
}


.marker {
  color: #123524;
  fill: #123524;
}


.details-card-container {
  position: absolute;
  z-index: 9999;
  padding: 33px 39px 33px 49px;
  top: 0;
  right: 0;
}

.show-actions-button {

  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 39px;
  right: 39px;
  color: white;
  background: $secondary-color;
  border-radius: 0;
  z-index: 9999;

  transition: all 1s ease-in-out;
}

.rotate {
  transition: all 1s ease-in-out;
  transform: rotate(45deg);
}


.actions-container {
  position: absolute;
  z-index: 9999;
  right: 39px;
  bottom: 125px;
  width: 258px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 17px;

  button {
    background-color: white;
    color: black;
    border-radius: 0;

    font-weight: 500;
  }
}
