@import '../../../../../styles/variables';

.map-container {
  position: relative;

}

div {
  width: 100%;
  height: calc(100vh - $navbar-height);
}


.marker {
  color: #123524;
  fill: #123524;
}


.details-card-container {
  position: absolute;
  z-index: 9999;
  padding: 33px 49px;
  top: 0;
  right: 0;
}

.add-spot-button {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 39px;
  right: 39px;
  color: white;
  background: $secondary-color;
  border-radius: 0;
  z-index: 9999;

}


