<div class="map-container">
  <div id="map"></div>
  <button (click)="toggleActions()" [hidden]="!showMapElements()" [ngClass]="{'button-rotate': showActions}"
          class="show-actions-button"
          mat-icon-button>
    <mat-icon [ngClass]="{'rotate': showActions}" class="add-icon">add</mat-icon>
  </button>
  <div *ngIf="showActions" class="actions-container">
    <button (click)="openCreateNewPostDialog()" class="action-button" mat-flat-button>Create a new Post</button>
    <button (click)="openCreateNewSpotDialog()" class="action-button" mat-flat-button>Create a new Spot</button>
  </div>
  <spot-details (isOpen)="closeDialog($event)" *ngIf="showSpotDetails" [spot]=selectedSpot
                class="details-card-container"></spot-details>
</div>


