<div class="map-container">
  <div id="map"></div>
  <button (click)="toggleActions()" [hidden]="!showMapElements()" [ngClass]="{'button-rotate': showActions}"
          class="show-actions-button"
          mat-icon-button>
    <mat-icon [ngClass]="{'rotate': showActions}" class="add-icon">add</mat-icon>
  </button>
  <div *ngIf="showActions" class="actions-container">
    <button (click)="openCreateNewPostDialog()" class="action-button" mat-flat-button>Create a new Post</button>
    <button (click)="openCreateNewSpotDialog({latitude: 0, longitude: 0})" class="action-button" mat-flat-button>Create
      a new Spot
    </button>
  </div>

  <ng-container *ngIf="spotList$ | async as spots ">
    <div class="spot-card-list-container">
      <ng-container *ngFor="let spot of spots | slice:0:2">
        <app-spot-card (openDetails)="openDetails($event)" [spot]="spot"></app-spot-card>
      </ng-container>
    </div>
  </ng-container>
  <spot-details (isOpen)="closeDialog($event)" *ngIf="showSpotDetails" [spot]=selectedSpot
                class="details-card-container"></spot-details>

  <ng-container *ngIf="!showMapElements()">
    <div class="login-hint">
      <span class="inter-bold">Please sign in to get access to all features!</span>
    </div>
  </ng-container>
</div>


