@import '../../../styles/variables';

h1 {
  margin-bottom: 20px;
}

form {
  border-radius: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-dialog-panel {
  background-color: black;
}

mat-dialog-content {
  form {
    display: flex;
    flex-direction: column;
    gap: $form-element-gap;
  }
}


