@import '../../../styles/variables';


.custom-dialog-panel {
  background-color: black;
}
mat-dialog-content {
  form {
    display: flex;
    flex-direction: column;
    gap: $form-element-gap;
  }
}


mat-dialog-actions {

  button[type=submit] {
    background-color: $primary-color;
    border-radius: 0;
  }

  .close-button {
    background-color: black;
    border-radius: 0;
  }
}
