@import '../../../styles/variables';


h2 {
  color: $primary-color-2 !important;
  font-weight: bold;
  font-size: 36px !important;
}

form {
  padding: $padding-component 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.custom-dialog-panel {
  background-color: black;
}
mat-dialog-content {
  form {
    display: flex;
    flex-direction: column;
    gap: $form-element-gap;
  }
}


