<h2 mat-dialog-title class="dialog-title">Add a new Post</h2>
<mat-dialog-content>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <input class="input-element" id="title" formControlName="title" placeholder="Enter your title"/>

      <textarea class="textarea-element" id="description" formControlName="description" placeholder="Enter your description"></textarea>

      <input class="file-select-button" type="file" id="file" (change)="onFileChange($event)"  placeholder="Upload your File"/>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button type="submit">Publish</button>
  <button mat-flat-button class="close-button" (click)="onCloseClick()">Close</button>

</mat-dialog-actions>
