<h2 mat-dialog-title class="dialog-title">Add a new Post</h2>
<mat-dialog-content>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <input type="text"
           class="input-element"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           formControlName="selectedSpot"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySpotList(spotList)" >
      @for (option of spotList; track option){
        <mat-option [value]="option.id">{{option.name}}</mat-option>
      }
    </mat-autocomplete>
      <input class="input-element" id="title" formControlName="title" placeholder="Enter your title"/>

      <textarea class="textarea-element" id="description" formControlName="description" placeholder="Enter your description"></textarea>

      <div class="dropzone">
        <input #fileInput class="file-select-button" type="file" id="file" formControlName="file" (change)="handleChange($event)" [accept]="allowedFileTypes"/>
        <p>Drag and drop <br/>
          file here to upload <br/>
          (PNG or JPG)
        </p>

        <button type="button" (click)="fileInput.click()" mat-flat-button> Browse File</button>
      </div>

    <div class="preview-image-container" *ngIf="fileUrl && uploadFile">
      <div class="image-preview"  [ngStyle]="{'background-image': 'url(' + fileUrl + ')'}"></div>
      <div class="preview">
        <p>{{ uploadFile.name }}</p>
        <div class="preview-actions">
<!--          <button mat-flat-button type="button" [disabled]="isUploading" (click)="handleUploadFile()">{{!isUploading ? 'UPLOADED' : 'UPLOADING...'}}</button>-->
          <button mat-flat-button type="button" [disabled]="isUploading" (click)="handleRemoveFile()">REMOVE</button>
        </div>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button type="submit" (click)="onSubmit()">Publish</button>
  <button mat-flat-button class="close-button" (click)="onCloseClick()">Close</button>

</mat-dialog-actions>
